In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("C:/Users/15159/Documents/python-homework/02-Python_Homework_Instructions_PyBank_Resources_budget_data.csv")

In [4]:
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
data.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

# Total Number of Months

In [6]:
month_count = data['Date'].nunique()
print(month_count)

86

# Net Profit/Loss

In [7]:
data['Profit/Losses'].sum()

38382578

# Average Change in Profit/Losses

In [15]:
temp1 = 0
temp2 = 0
diff = 0
for i in range(len(data['Profit/Losses'])):
    if i != len(data['Profit/Losses']) -1:
        temp1 = data['Profit/Losses'][i]
        temp2 = data['Profit/Losses'][i + 1]
        diff += temp2 - temp1

print(diff)

-196785

# Greatest Increase in Profits

In [16]:
data.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099